/*Заголовок*/
#header
{
    background-color: whitesmoke;
    border: seagreen 1px solid;
    margin: 25px;
    text-align: center;
}
#logo
{
    display: inline-block;
    text-align: center;
    margin-right: 5%;
}
#siteName
{
    display: inline-block;
    text-align: center;
    margin-left: 5%;
}
/*END__Заголовок*/

/*Навигация по сайту*/
#navigation
{
    background-color: #0e4000;
    padding: 5px;
    text-align: center;
}
#navigation a,#navigation a:hover,#navigation a:active,#navigation a:visited
{
    border: whitesmoke 1px solid;
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 15px;
    padding: 2px;
}
/*END__Навигация по сайту*/

/*Создание меню, страниц и др.*/
.create
{
    background-color: silver;
    margin: 5px;
    padding: 20px;
    display: block;
}

.create a
{
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    color: black;
    text-decoration: none;
}
.create a:hover,.create a:active
{
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: lightseagreen;
    color: darkred;
}
.create textarea
{
    background-color: lightblue;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.create input,select,option
{
    padding: 10px;
    background-color: darkorange;
    width: 100%;
    font-size: 15px;
    font-family: "Arial Black", sans-serif;
    font-kerning: auto;
}
.create input[type='submit']
{
    width: 50%;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    background-color: #b8bfc9;
    font-family: "Comic Sans MS",Aharoni,Arial,serif;
    user-select: all;
}
/*END__Создание меню, страниц и др.*/

/*Поле для логина*/
.login,.get
{
    background-color: #26ebe3;
    margin-top: 20%;
    text-align: center;
    height: auto;
    width: 38%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#login
{
    margin-top: 20px;
    background-color: black;
    text-align: center;
}
#login td
{
    box-shadow: white 0 0 3px 1px;
    -o-box-shadow: white 0 0 3px 1px;
    -moz-box-shadow: white 0 0 3px 1px;
    -webkit-box-shadow: white 0 0 3px 1px;

    border: lightgray;
    padding: 0;
}
#page input
{
    width: auto;
    height: 25px;
    font-family: "Arial Black",sans-serif;
    background-color: gold;
    color: black;
}
/*END__Поле для логина*/

/*Список страниц, меню, пользователей и др.*/
#pagelist_table,#usersList_table
{
    margin-top: 5px;
    position: relative;
    left: 125px; /* Положение от левого края */
}

.pagelist_table_header,.usersList
{
    background-color: #0D3349;
    color: white;
    padding-left: 5px;
    width: 900px;
}

.pagelist_table_row,.user_list_table_row
{
    background-color: darkgrey;
    border-bottom: white 1px solid;
    padding: 5px;
    width: 900px;
}

.pagelist_table_row a,.user_list_table_row a
{
    color: black;
    text-decoration: underline;
}

.pagelist_table_row,.user_list_table_row,.pagelist_table_header,.usersList
{
    font-size: 15px;
}
/* END__Список страниц, меню, пользователей и др.*/

/*Общее*/
.div-center
{
    text-align: center;
}
.question
{
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-kerning: auto;
    background-color: olive;
    height: auto;
    text-align: center;
    padding: 10px;
}
.question a
{
    text-decoration: underline;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    text-underline-color: darkred;
    cursor: default;
    color: rgba(0, 0, 44, 0.85);
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
}
/*END__Общее*/