#header
{
    background-color: whitesmoke;
    border: seagreen 1px solid;
    margin: 25px;
    text-align: center;
}
#logo
{
    display: inline-block;
    text-align: center;
    margin-right: 5%;
}
#siteName
{
    display: inline-block;
    text-align: center;
    margin-left: 5%;
}