body
{
    margin: 1em;
    overflow-x: hidden;
}

/*Заголовок*/
#header
{
    background-color: whitesmoke;
    border: seagreen 1px solid;
    margin: 25px;
    text-align: center;
    width: 90%;
}

#header td
{
   text-align: center;
    margin: 25px 10%;
}
#admin
{
    text-align: center;
    font-family: "Arial", "Comic Sans MS", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;

    padding: 1em;


    /*ALL TYPES OF 'background-image: linear-gradient'*/
    background-image: linear-gradient(left, #8dffee 25%, white 75%);
    background-image: -o-linear-gradient(left, #8dffee 25%, white 75%);
    background-image: -ms-linear-gradient(left, #8dffee 25%, white 75%);
    background-image: -moz-linear-gradient(left, #8dffee 25%, white 75%);
    background-image: -webkit-linear-gradient(left, #8dffee 25%, white 75%);

    -o-background-image: linear-gradient(left, #8dffee 25%, white 75%);
    -o-background-image: -o-linear-gradient(left, #8dffee 25%, white 75%);
    -o-background-image: -ms-linear-gradient(left, #8dffee 25%, white 75%);
    -o-background-image: -moz-linear-gradient(left, #8dffee 25%, white 75%);
    -o-background-image: -webkit-linear-gradient(left, #8dffee 25%, white 75%);

    -moz-background-image: linear-gradient(left, #8dffee 25%, white 75%);
    -moz-background-image: -o-linear-gradient(left, #8dffee 25%, white 75%);
    -moz-background-image: -ms-linear-gradient(left, #8dffee 25%, white 75%);
    -moz-background-image: -moz-linear-gradient(left, #8dffee 25%, white 75%);
    -moz-background-image: -webkit-linear-gradient(left, #8dffee 25%, white 75%);

    -webkit-background-image: linear-gradient(left, #8dffee 25%, white 75%);
    -webkit-background-image: -o-linear-gradient(left, #8dffee 25%, white 75%);
    -webkit-background-image: -ms-linear-gradient(left, #8dffee 25%, white 75%);
    -webkit-background-image: -moz-linear-gradient(left, #8dffee 25%, white 75%);
    -webkit-background-image: -webkit-linear-gradient(left, #8dffee 25%, white 75%);
    /*END__ALL TYPES OF 'background-image: linear-gradient'*/
}
/*END__Заголовок*/

/*Меню*/
.menu,.pages
{
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
.menu:hover,.pages:hover
{
    background-color: #00AA88;
    color: darkorange;
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

#menu
{
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;

    border-right: 1px solid black;
}
#menu:hover
{
    padding: 25px;
    background-color: rgba(255, 209, 16, 0.63);
}

#menu li{
    list-style-type: none;
}
/*END__Меню*/

/*Контент*/
#content
{
    margin-left: 15px;
}
/*END__Контент*/

/*Новости*/
.news
{
    font-family: "Arial Black", serif;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid black;
}

.news tr
{
    border: 1px solid black;
}

.news a
{
    margin: 10px 0;
    padding: 1px 5px 1px 0;
    font-size: large;
    color: darkblue;
    display: block;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
.news a:hover, .news a:active, .news:visited
{
    background-color: #00AA88;
    padding: 10px;
    color: darkblue;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.news img
{
    margin: 5px;
}

.center
{
    text-align: center;
}

.desc
{
    text-align: justify;
    padding: 5px;
}

.news_item
{
    background-color: lightgray;
    border: 1px solid black;
    margin: 5px;
}
/*END__Новости*/