/*Заголовок*/
#header
{
    background-color: whitesmoke;
    border: seagreen 1px solid;
    margin: 25px;
    text-align: center;
    width: 90%;
}

#header td
{
   text-align: center;
    margin: 25px 10%;
}
/*END__Заголовок*/

/*Меню*/


#menu a
{
    color: black;
}

#menu li{
    list-style-type: none;
}
/*END__Меню*/

/*Контент*/
#content
{
    margin-left: 15px;
}
/*END__Контент*/